- fields_for object, :builder => LabellingFormBuilder do |f|  
  != f.text_area :message
  .input
    = f.label(:status)
    = f.select_without_label(:status, Status::Enum.invert, :include_blank => 'None')
    - if current_user.admin?
      = f.check_box_without_label(:override_status)
      %small override current status