- title 'Network View'
#graphs-graph
  = render :file => '/graphs/network', :locals => {:format => 'cmapx'}
  %img{:src => network_graph_path(map, :format => :png, :timestamp => Time.now.to_i), :usemap => "#map_#{map.id}"}

%p#graphs-footer.footer
  %a.button{:href => network_graph_path(map, :format => :png, :download => true, :timestamp => Time.now.to_i)} download
