- fields_for object, :builder => LabellingFormBuilder do |f|
  != f.text_field(:name)
  != f.text_area(:description)
  != f.select(:manager_id, User.all.collect{|user|[user.name, user.id]}, {:include_blank => 'Select User'})