%h1 Add Supporting Goal

!= error_messages_for controller_name.singularize

- unless @goal.valid_support_targets.empty?
  - form_for @supporting_goal.hierarchy, :builder => LabellingFormBuilder do |f|
    != f.select :supported_by_id, @goal.valid_support_targets.map{|o|[h(o.name), o.id]}

    .submit
      %input{:type => 'submit', :value => 'Create'}  
      = link_to('Cancel', local_assigns[:cancel] || (resource.parent_node ? resource.parent_node.hierarchy : root_path), :class => 'button')

- else
  %p{:style => 'margin-bottom:1.5em'} There are no valid support targets for this goal.
  
  .submit
    = link_to('Cancel', local_assigns[:cancel] || (resource.parent_node ? resource.parent_node.hierarchy : root_path), :class => 'button')
  