strong {
  font-weight: bold;
}

h1 {
  font: 20pt Georgia;
  color: #111111;
  color: #222222;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 15pt;
  margin: 1em 0 0.5em;
  color: #222222;
}

h3 {
  font-size: 9pt;
  font-weight: bold;
  margin-bottom: 0.5em;
}

legend {
  font-size: 9pt;
  font-weight: bold;
  padding: 0 1ex;
}

html {
  background: #222222;
}

body {
  font-size: 62.5%;
  font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
  color: #333333;
}

#header_container, #page_container, #footer_container {
  min-width: 900px;
}

#header, #page, #footer {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}

#footer_container {
  border-top: solid 3px #444444;
  background: #222222;
}

#footer {
  color: #eaeaea;
  font-size: 10pt;
  text-align: center;
  overflow: hidden;
  padding: 1em 0;
}
#footer > p {
  margin-bottom: 1em;
}
#footer a {
  color: white;
}

#header_container {
  margin-top: 4px;
  background: white;
  border-top: solid 3px #dedcd7;
}

#header {
  position: relative;
  border-bottom: solid 1px #dddddd;
}
#header h1 {
  padding: 20px 0;
  width: 259px;
  height: 74px;
  margin: 0;
  background: transparent url(/images/logo.gif) no-repeat center center;
}
#header h1 > span {
  display: none;
}
#header > ul {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 9px 10px;
}
#header > ul > li {
  display: inline;
  padding: 9px 0 9px 16px;
}
#header > ul > li > img {
  position: relative;
  bottom: -0.35em;
}
#header > ul > li > a {
  margin-left: 1.5ex;
  color: #333333;
  text-decoration: none;
}
#header > ul > li > a:hover {
  text-decoration: underline;
}

#page_container {
  min-height: 480px;
  background: white;
}

#page {
  padding: 40px 0;
}

.form_footer {
  margin-top: 2em;
  font-size: 11pt;
}
.form_footer > a {
  margin-left: 1ex;
}

#content {
  width: 560px;
}

#sidebar {
  float: right;
  width: 300px;
  padding: 20px 0;
}
#sidebar .graph {
  border: solid 1px #e5e5e5;
  padding: 5px;
  text-align: center;
  margin-bottom: 2em;
  background-color: white;
}
#sidebar .graph img {
  border: none;
  max-width: 100%;
  max-height: 200px;
}
#sidebar > #navigation {
  font-size: 9pt;
}
#sidebar > #navigation > h3 {
  margin-bottom: 1em;
}
#sidebar > #navigation > ul > li {
  margin: 0.75em 0 0 0;
}
#sidebar > #navigation > ul > li > img {
  vertical-align: bottom;
  margin-right: 1ex;
}
#sidebar > #navigation > ul > li > a {
  color: #444444;
  text-decoration: none;
}

#breadcrumbs {
  border-left: solid 2px #dddddd;
  margin: 0 0 15px;
  padding: 0 0 8px 5px;
  background: transparent url(/images/breadcrumbs.gif) no-repeat bottom left;
}
#breadcrumbs a {
  text-decoration: none;
}
#breadcrumbs li.current_node {
  font-weight: bold;
}
#breadcrumbs .breadcrumb {
  margin-bottom: 3px;
}
#breadcrumbs .breadcrumb > img {
  position: relative;
  bottom: -5px;
  margin-right: 3px;
}
#breadcrumbs .breadcrumb > span {
  line-height: 200%;
  padding: 3px 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow-x: hidden;
  color: #333333;
}

div.discussion > p {
  margin-bottom: 1em;
}
div.discussion > ul.discussion > li {
  margin-top: 2em;
}
div.discussion > ul.discussion > li > p {
  margin-bottom: 1em;
}
div.discussion > ul.discussion > li > p.details {
  margin-top: -0.5em;
}
div.discussion > ul.discussion > li > p.details > span.user a {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
div.discussion > ul.discussion > li > p.details > span.user a:hover {
  text-decoration: underline;
}

fieldset {
  border: solid 2px #e3e6e9;
  padding: 0 10px 10px;
  margin-bottom: 1em;
}
fieldset > *:last-child {
  margin-bottom: 0 !important;
}

div.input {
  margin-bottom: 2em;
}
div.input label {
  display: block;
  margin: 1em 0 0.5em;
}

input[type=text], input[type=password], textarea, select {
  font: 11pt "Lucida Grande", Verdana, Arial, Sans-Serif;
  font-weight: bold;
}

input[type=text], input[type=password], textarea {
  color: #837c7c;
  padding: 8px;
  border: 2px solid #dedede;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: solid 2px #837c7c;
  color: #383131;
}

label {
  font: 16px Georgia, "Times New Roman", serif;
}
label span.error {
  font-weight: bold;
  color: #993333;
}
label span.error:before {
  content: " - ";
}

div#content {
  font-size: 11pt;
}
div#content > #description > #editable {
  margin: 2em 0;
  font-size: 11pt;
}
div#content > #description > #editable > .controls {
  margin-top: 1em;
}
div#content > #description > div#description_text {
  margin-bottom: 1em;
  padding: 1em;
  border-left: solid 5px #aaaaaa;
  text-align: justify;
  color: #222222;
  font-size: 11pt;
}
div#content > #description > div#description_text > p {
  line-height: 175%;
  margin-bottom: 1em;
}
div#content > #description > div#description_text > p:last-child {
  margin-bottom: 0;
}

#back_to_top {
  text-align: right;
}
#back_to_top > a {
  background: #336699;
  color: white;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border: solid 1px;
  border-top-color: #5588bb;
  border-left-color: #5588bb;
  border-right-color: #114477;
  border-bottom-color: #114477;
  cursor: pointer;
}

div.control {
  background: white;
  opacity: 0.9;
  font-size: 9pt;
  display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-transform: lowercase;
  border: solid 2px;
}
div.control > a {
  text-decoration: none;
  color: #333333;
  padding: 0 0.5em;
}

input[type=button], input[type=submit], a.button {
  margin: 0 7px 0 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #f1f1f1;
  background: -webkit-gradient(linear, center bottom, center top, from(#d7d7d7), to(#f1f1f1));
  background: -moz-linear-gradient(top, #f1f1f1, #d7d7d7);
  border: solid 1px #cccccc;
  border-bottom-color: #999999;
  border-right-color: #999999;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
  padding: 5px 10px 6px 7px;
  display: inline-block;
  /* &:hover
   *   background-color: #e6efc2
   *   border: 1px solid #c6d880
   *   color: #529214 */
}
input[type=button][disabled], input[type=submit][disabled], a.button[disabled] {
  color: #999999;
}
input[type=button][disabled]:hover, input[type=submit][disabled]:hover, a.button[disabled]:hover {
  color: #999999;
  background-color: #f5f5f5;
  border: 1px solid #cecece;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
input[type=button]:active, input[type=submit]:active, a.button:active {
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
  position: relative;
  top: 1px;
  left: 1px;
}

/* input[type=submit]
 *   background-color: #f1f1f1
 *   background: -webkit-gradient(linear, center bottom, center top, from(#d6e8c7), to(#eff6ea))
 *   background: -moz-linear-gradient(top, #eff6ea, #d6e8c7)
 *
 *   border: solid 1px #cae1b7
 *   border-bottom-color: #95c46f
 *   border-right-color: #95c46f */
div.control.edit {
  border-color: #85b7d6;
}

div.control.discuss {
  border-color: #bdd684;
}

div.control.delete {
  border-color: #d68585;
}
div.control.delete > a:hover {
  color: #993333;
}

div.new {
  border-color: #bdd684;
}

div.container > table > * > tr > *,
div#content > .info,
div#content > #description > .controls > .edit {
  color: #333333;
}

div.container {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
div.container > dl > li {
  padding: 0.75em 1em;
  list-style-type: none;
}
div.container > dl > li > * {
  display: inline;
}
div.container > table, div.container div.container > dl {
  border-collapse: separate;
  border: solid 1px #aaaaaa;
  font-size: 9pt;
}
div.container > table > * > tr > * {
  padding: 0.75em 1em;
  text-align: center;
}
div.container > table > * > tr > *:first-child {
  width: 100%;
  text-align: left;
}
div.container > table > thead > tr:nth-child(odd) {
  background-color: #fafafa;
}
div.container > table > thead > tr > th {
  border-bottom: solid 1px #cccccc;
  font-weight: bold;
  background-color: #eeeeee;
}
div.container > table > tbody > tr:last-child > td {
  border-bottom: solid 1px #dddddd;
}
div.container > table > tbody > tr > td {
  border-bottom: solid 1px #eeeeee;
}
div.container > table > tbody > tr > td > div {
  position: relative;
}
div.container > table > tbody > tr > td > div > a {
  color: #333333;
}
div.container > table > tbody > tr > td > div > div.delete, div.container > table > tbody > tr > td > div > div.edit {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0;
  opacity: 0;
}
div.container > table > tbody > tr:hover > td > div > div.delete, div.container > table > tbody > tr:hover > td > div > div.edit {
  opacity: 1;
}

#errorExplanation {
  margin-bottom: 2em;
}
#errorExplanation > h2 {
  color: #990000;
}
#errorExplanation > p, #errorExplanation > ul {
  margin-bottom: 1em;
}
#errorExplanation > ul > li {
  list-style-type: disc;
  margin: 0 0 0.5em 2ex;
}

input[type="text"][id$="_name"] {
  width: 540px;
}

textarea[id$="_description"] {
  width: 540px;
  height: 7em;
}

#content.factor_content fieldset ul li {
  margin-top: 1em;
  color: #555555;
}
#content.factor_content fieldset ul li span.value {
  color: #333333;
  font-weight: bold;
}
#content.factor_content fieldset#factor_target {
  margin-right: 12px;
}
#content.factor_content fieldset#factor_context {
  clear: both;
}
#content.factor_content fieldset#factor_target, #content.factor_content fieldset#factor_predicted {
  width: 250px;
  float: left;
}
#content.factor_content fieldset#factor_target input[type=text], #content.factor_content fieldset#factor_predicted input[type=text] {
  width: 230px;
}

/* #network_view_large
 *   $width: 800px
 *   $height: 600px
 *   z-index: 2
 *   visibility: hidden
 *   opacity: 0
 *   position: fixed
 *   left: 50%
 *   top: 50%
 *   margin-left: -($width / 2)
 *   margin-top: -($height / 2)
 *   height: $height + 2
 *   width: $width + 2
 *   border: solid 8px rgba(0, 0, 0, 0.2)
 *   background-color: transparent
 *   +border-radius(7px)
 *   > a
 *     z-index: 4
 *     display: block
 *     > div
 *       width: $width
 *       height: $height
 *       position: static
 *       display: table-cell
 *       vertical-align: middle
 *       text-align: center
 *       background-color: #fff
 *       border: solid 1px #aaa
 *       margin: -1px 0 0 -1px
 *       cursor: pointer
 *       > img
 *         max-width: 100%
 *         max-height: 100%
 *   > img
 *     z-index: 5
 *     position: absolute
 *     top: -15px
 *     right: -15px
 *     cursor: pointer */
