- unless map.goals.empty?
  %fieldset#network_view
    %legend Network View
    .graph
      %a{:href => url_for(:controller => 'graphs', :action => 'graph', :map_id => map.to_param), :title => 'Click to enlarge.'}
        = image_tag(network_graph_path(map, :format => :png, :timestamp => Time.now.to_i))
