- unless map.goals.empty?
  %fieldset#network_view
    %legend Network View
    %a{:href => network_graph_path(map, :format => request.env['HTTP_USER_AGENT'] =~ /WebKit/ ? :svg : :png), :title => 'Click to enlarge.'}
      .graph
        = image_tag(network_graph_path(map, :format => :png, :timestamp => Time.now.to_i))
