- unless map.goals.empty?
  %h3
    %span Network View:
  
  %a#network_view{:href => network_graph_path(map, :format => :svg), :title => 'Click to enlarge.'}
    .graph
      != image_tag(network_graph_path(map, :format => :svg, :timestamp => Time.now.to_i))
