%h1== New #{current_model_name.humanize}

!= error_messages_for controller_name.singularize

- form_tag local_assigns[:url] || url_for(resource.hierarchy) do
  != render :partial => 'form', :object => resource
 
  .form_buttons
    %input{:type => 'submit', :value => 'Create'}  
    = link_to('Cancel', session[:back] || :back, :class => 'button')