- fields_for object, :builder => LabellingFormBuilder do |f|
  != f.text_field(:name) unless object.enforced
  != f.select(:user_id, User.with_subdomain(current_subdomain).all.collect{|user|[user.name, user.id]}, {:include_blank => 'Select User'})