- fields_for object, :builder => LabellingFormBuilder do |f|
  != f.text_field(:name)
  != f.text_area(:description)
  != f.check_box(:propagate, :label => 'also send status to supported goals')
  != hidden_field_tag('goal[parent_id]', object.parent_id || params[:parent_id])