#description.tab
  %h1
    - if object.respond_to?(:status)
      != status_image(object)
    !=h object.name

  - if object.respond_to?(:description)
    #description_text
      - unless object.description.blank? #Sanitize.clean(object.description, Sanitize::Config::RESTRICTED)
        :textile
          #{h object.description}
      - else
        %p No description.

  - if (editable = yield(:editable))
    #editable= editable
    - if write_permission?
      .controls= link_to 'edit', polymorphic_path(resource.hierarchy, :action => :edit), :class => 'button'
